/* google font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root{
    --primary-color:hsl(330,87%,17%);
    --secondary-color:hsla(203,100%,13%,1);
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
}

/* Start header */
header{
    height:100vh;
    background:linear-gradient(
        30deg,
        rgba(0,0,0,0),
        rgba(0,0,0,0.5)
        ),url('../assets/img/banner/banner2.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;

    position: relative;
}

/* Start nav bar */
.navbar{
    background:linear-gradient(rgba(0,0,0,0.3),var(--secondary-color));
    padding:20px 30px;
    transition:all 0.7s;
}

.navmenus{
    background:linear-gradient(rgba(0,0,0,0.6),var(--secondary-color));
    padding:5px 30px;
}

.menuitems{
    color: #eee;
    font-size:14px;
    letter-spacing:1px;
}

.menuitems:hover{
    color:#1aeee8;
}

.lines1,.lines2,.lines3{
    width:25px;
    height:3px;
    margin:6px;

    transition: all 0.5s;
}

.crossxs .lines1{
    transform:rotate(-45deg) translate(-6px,6px);
}

.crossxs .lines2{
    opacity:0;
}

.crossxs .lines3{
    transform:rotate(45deg) translate(-6px,-6px);
}

/* End nav bar */

/* Start banner */
.banners{
    width: 80%;
    position:absolute;
    left:50%;
    top:50%;

    transform:translate(-50%,-50%);
}

.bannerheaders{
    animation-name:bananni;
    animation-duration:2s;
}

.bannerparagraph{
    animation-name:bananni;
    animation-duration:2s;
    animation-delay:0.8s;
    animation-fill-mode:backwards;
}

@keyframes bananni {
    0%{
        opacity:0;
        transform:translateX(-100px);
    }

    100%{
        opacity:1;
        transform:translateX(0);
    }
}
/* End Banner */

/* End header */

/* Start About US */

.aboutuss{
    background:linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
        ),url('../assets/img/banner/banner2.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}

/* End About US */